* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #892cdc;
  color: #fff;
}

h1 {
  margin-bottom: 20px;
}

.calculator-container {
  display: flex;
}

.calculator {
  background: #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(244, 216, 216, 0.1);
  padding: 20px;
  width: 320px;
}

.display {
  background: #eee;
  color: #000;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: right;
}

.input,
.output {
  height: 40px;
  overflow: hidden;
}

.button-panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button {
  background: #bc6ff1;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.button:hover {
  background: #892cdc;
  transform: scale(1.1);
}

.history {  
  background: #000;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(244, 216, 216, 0.1);
  margin-left: 100px;
  padding: 20px;
  width: 200px;
}

.history h2 {
  margin-bottom: 10px;
}

.history ul {
  list-style-type: none;
  max-height: 200px;
  overflow-y: auto;
  padding: 0;
  margin: 0 0 10px 0;
}

.history li {
  margin-bottom: 5px;
}

.clear-button {
  background: #bc6ff1;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
  transition: background 0.3s, transform 0.3s;
}

.clear-button:hover {
  background: #892cdc;
  transform: scale(1.1);
}


/* Media queries for mobile web browsers */
@media (max-width: 768px) {
  .app{
    height:100%;
  }
  .app h1{
    margin-top: 40px;
  }
  .calculator-container {
    flex-direction: column;
    align-items: center;
  }

  .calculator {
    width: 100%;
    padding: 15px;
  }

  .button {
    padding: 10px;
    font-size: 0.8rem;
  }

  .history {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 50px;
    overflow: hidden;
  }

  .display {
    font-size: 1.2rem;
  }
}
